# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
build/
dist/
node_modules/
.secret-*
ios/FoodOnStoves.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/.DS_Store
ios/FoodOnStoves.xcworkspace/xcuserdata/devendrasharma.xcuserdatad/UserInterfaceState.xcuserstate
ios/Podfile 2.lock
ios/Podfile.lock
ios/Podfile.lock
ios/Podfile 2
.DS_Store
assets/.DS_Store
assets/images/.DS_Store
ios/.DS_Store
.DS_Store
assets/.DS_Store
.DS_Store
ios/FoodOnStoves.xcodeproj/project.pbxproj
ios/FoodOnStoves.xcworkspace/xcuserdata/devendrasharma.xcuserdatad/UserInterfaceState.xcuserstate
package-lock.json
.DS_Store
ios/Podfile.lock
package-lock.json
ios/Podfile.lock
package-lock.json
